.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  max-width: 400px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container2 {
  display: block;
  position: relative;
  /* padding-left: 35px;
  margin-bottom: 12px; */
  cursor: pointer;
  width: 25px;
  height: 25px;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DamageLocationContent{
  position: relative;
  width: 400px;
  height: 300px;
}

.CarImage{
  position: absolute;
  max-width: 400px;
  max-height: 250px;
}

.DamageLocationButtons{
  position: absolute;
  width: 400px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(8, 32px);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkcircle {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(153, 153, 153);
  
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkcircle {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkcircle {
  background-color: #2196f3;
}

/* Create the checkc.checkcircle/indicator (hidden when not checked) */
.checkcircle:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkc.checkcircle when checked */
.container2 input:checked ~ .checkcircle:after {
  display: block;
}

/* Style the checkc.checkcircle/indicator */
.container2 .checkcircle:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.DamageLocationTitle{
  text-align: center;
}

.CheckBoxItem {
  padding: 5px 66px;
}

.CheckBoxItemCircle {
  align-self: center;
}

.continue {
  padding: 5px 66px;
  margin: auto;
  background-color: #008cba;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.ListItemsContainer {
  text-align: left;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.imageContainer{
  margin: auto;
  width: 100%;
  border-style: dashed;
  background-color: lightgray;
}

.PhotoPickerPhoto {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto;
  /* filter: grayscale(1); */
}

.progress{
  width: 100%;
  margin: auto;
}

.PhotoPickerContainer {
  position: relative;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.PhotoPickerOverlay {
  /* position: absolute;
  /* left: 0; */
  /* max-width: 100%;
  top: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  border-bottom: solid;
  border-bottom-width: 15px;
  border-color: cornflowerblue; */
}

.inputfile{
  border-style: dashed;
    border-color: black;

	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  padding: 7px 82px;
  height: 100%;
  background-color: lightgray;
  border-color: black;
  border-style: dashed;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: inline-block;
  pointer-events: none;
  cursor: pointer; /* "hand" cursor */
}

.UploadButtons{
  width: 100%;
  height: 300px;
  padding-top: 5px;
}

.UploadLabelText{
  color: black;
}

.uploadIcon{
  color: gray;
  padding-top: 140px;
    font-size: 50px;
}

.checkText{
  padding-left: 26px;
}

.PhotoPickerItem{
  padding:10px;
}

.btn{
  display: flex;
}

.PhotoPickerLabel{
  padding: 25px;
}